<% tab "djs" %>

<div class="page-header">
  <%= link_to new_dj_path, :class => 'btn btn-primary'  do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dj
  <% end %>
  <%= link_to djs_path(:format => :csv), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download"></span>
    CSV
  <% end %>
  <%= link_to djs_path(:format => :xls), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download"></span>
    XLS
  <% end %>
  <%= link_to make_djs_path, method: :post, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-random"></span>
    Make DJs
  <% end %>
  <%= link_to remove_all_djs_path, :method => :get, :class => 'btn btn-danger', data: {confirm: "Are you sure?"} do  %>
    <span class="glyphicon glyphicon-remove"></span>
    Delete All
  <% end %>



  <% month = Time.now.strftime"%b "%>
  <% wday = Time.now.wday %>
  <% dayOfMonth = Time.now.day %>
  <% day = dayOfMonth-wday+1 %>
  <% if day < 1 %>
    <h1>DJs for Week of <%= Time.now.strftime"%b ".to_s %></h1>
  <% else %>
    <h1>DJs for Week of <%= Time.now.strftime"%b ".to_s+day.to_s %></h1>
  <% end %>



</div>

<div class="row">
  <div class="col-sm-6 text-center">
    <h3>Not Assigned Actives Monday: <span class="<%= 'green' if (Active.countouthouse-Dj.countMonday)==0 %><%= 'red' if (Active.countouthouse-Dj.countMonday)>0 %><%= 'red' if (Active.countouthouse-Dj.countMonday)<0 %>"><%= Active.countouthouse-Dj.countMonday %></span></h3>
  </div>
  <div class="col-sm-6 text-center">
    <h3>Not Assigned Actives Rest: <span class="<%= 'green' if (Active.countinhouse-(Dj.count-Dj.countMonday))==0 %><%= 'red' if (Active.countinhouse-(Dj.count-Dj.countMonday))>0 %><%= 'red' if (Active.countinhouse-(Dj.count-Dj.countMonday))<0 %>"><%= Active.countinhouse-(Dj.count-Dj.countMonday) %></span></h3>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            
      </tr>
    </thead>

      <tbody>
        <%= @djs.find_each do |dj| %>
        <tr>
          <td><%= truncate(dj.name, :length => 60, :separator => ' ') %></td>
          <td><%= dj.location %></td>
          <%= render 'row', :dj => dj %>
          <td><%= link_to edit_dj_path(dj) do%>
            <span class="glyphicon glyphicon-edit yellow"></span>
          <% end %>
          </td>
          <td><%= link_to dj, method: :delete, data: { confirm: 'Are you sure?' } do%>
            <span class="glyphicon glyphicon-remove red"></span>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    
  </table>
</div>

<div class="container-fluid text-center">
  <h2>Import DJ's</h2>
  <%= form_tag import_djs_path, multipart: true do %>
    <div class="container" style="padding: 0 0 10px 0">
      <div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-4 col-xs-6 col-xs-offset-3 row">
        <%= file_field_tag :file %>
      </div>
    </div>
    <%= submit_tag "Import", class: "btn btn-primary"%>
  <% end %>
</div>

