<div class="page-header">
  <%= link_to new_dj_path, :class => 'btn btn-primary'  do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dj
  <% end %>
  <%= link_to djs_path(:format => :csv), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download"></span>
    Download
  <% end %>
  <%= link_to make_djs_path, method: :post, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-random"></span>
    Make DJs
  <% end %>



  <% month = Time.now.strftime"%b "%>
  <% wday = Time.now.wday %>
  <% dayOfMonth = Time.now.day %>
  <% day = dayOfMonth-wday+1 %>
  <% if day < 1 %>
    <h1>DJs for Week of <%= Time.now.strftime"%b ".to_s %></h1>
  <% else %>
    <h1>DJs for Week of <%= Time.now.strftime"%b ".to_s+day.to_s %></h1>
  <% end %>



</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Number of DJs <%= @djs.size %></h3>
  </div>
  <div class="col-sm-6">
    <h3>Number of Actives <%= @actives.size %></h3>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            
      </tr>
    </thead>

    <tbody>
      <%= @djs.find_each do |dj| %>
      <tr>
        <td><%= dj.name %></td>
        <td><%= dj.location %></td>
        <td><%= dj.monday %></td>
        <td><%= dj.tuesday %></td>
        <td><%= dj.wednesday %></td>
        <td><%= dj.thursday %></td>
        <td><%= dj.friday %></td>
        <td><%= dj.saturday %></td>
        <td><%= dj.sunday %></td>
        <td><%= link_to dj do%>
          <span class="glyphicon glyphicon-info-sign blue"></span>
        <% end %>
        </td>
        <td><%= link_to edit_dj_path(dj) do%>
          <span class="glyphicon glyphicon-edit yellow"></span>
        <% end %>
        </td>
        <td><%= link_to dj, method: :delete, data: { confirm: 'Are you sure?' } do%>
          <span class="glyphicon glyphicon-remove red"></span>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container-fluid text-center">
  <h2>Import DJ's</h2>
  <%= form_tag import_djs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import", class: "btn btn-primary"%>
  <% end %>
</div>

