<h2 class="text-center">Management</h2>
    <div class="text-center">
      <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="https://10.1.10.5:8006/" ><%= image_tag("icons/proxmox.png", class: "icons") %></a>
            <h2>ProxMox</h2>
            <p>VM manager</p>
            <p><a class="btn btn-danger" href="https://10.1.10.5:8006/" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="https://10.1.10.5:9090/sabnzbd"><%= image_tag("icons/sab.png", class: "icons") %></a>
            <h2>SABnzbd</h2>
            <p>NZB download manager</p>
            <p><a class="btn btn-danger" href="https://10.1.10.5:9090/sabnzbd" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="https://10.1.10.4/login.cgi?uri=/"><%= image_tag("icons/poeSwitch.jpg", class: "icons") %></a>
            <h2>PoE Switch</h2>
            <p>The Power over Ethernet Swtich the powers most of the wifi AP's.</p>
            <p><a class="btn btn-danger" href="https://10.1.10.4/login.cgi?uri=/" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="http://10.1.10.1/login.asp"><%= image_tag("icons/router.png", class: "icons") %></a>
            <h2>Comcast Cable Modem</h2>
            <p>Used for Portforwarding and traffic management.</p>
            <p><a class="btn btn-danger" href="http://10.1.10.1/login.asp" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-4 col-lg-4">

            <a href="http://10.1.10.9"><%= image_tag("icons/switch.jpg", class: "icons") %></a>
            <h2>The Swtich</h2>
            <p>The 48 port switch are house runs off of.</p>
            <p><a class="btn btn-danger" href="http://10.1.10.9" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-4 col-lg-4">

            <a href="http://10.1.10.5:8080"><%= image_tag("icons/ubiquiti.png", class: "icons") %></a>
            <h2>Unifi Wifi Controller</h2>
            <p>Manage all of the wifi APs</p>
            <p><a class="btn btn-danger" href="http://10.1.10.5:8080" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="../phpmyadmin"><%= image_tag("icons/phpmyadmin.png", class: "icons") %></a>
            <h2>phpMyAdmin</h2>
            <p>Manage Databases yo</p>
            <p><a class="btn btn-danger" href="../phpmyadmin" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="../support"><%= image_tag("icons/ticket.png", class: "icons") %></a>
            <h2>Support Ticket Admin</h2>
            <p>Login in and manage tickets</p>
            <p><a class="btn btn-danger" href="../support/admin" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!--row-->
    </div>